<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima&family=Ysabeau+Office:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <section class="page_404" style="padding:40px 0; background:#fff; font-family: 'Arvo', serif;">

    <div class="container">

      <div class="row">
      <div class="col-sm-12 ">
      <div class="col-sm-10 col-sm-offset-1  text-center">
      <div class="four_zero_four_bg" style="background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
      height: 450px;
      margin-left: 25%;
      margin-right: 25%;
      margin-top: -7%;">
        <h1 style="text-align: center; margin-top: 15%; font-size: 150px;">404</h1>


      </div>

      <div class="contant_box_404" style="margin-top:-40px; text-align: center;">
      <h3 class="h2" style="font-size: 30px;">
      Похоже такой страницы нет!
      </h3>

      <p style="font-size: 20px;">Ты можешь вернуться на главную</p>

      <a href="/" class="link_404" style="font-size: 25px; font-size:30px;
color: #fff!important;
 padding: 10px 20px;
 background: #39ac31;
 margin-top: 2%;
 display: inline-block; border-radius: 7px; text-decoration: none;">Главная</a>
    </div>
      </div>
      </div>
      </div>
    </div>
  </section>
</body>
</html>
