<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/assets/css/style_500.css">
  <title>Document</title>
</head>
<body>
    <h1 style="margin-left: 5%; font-size: 70px; color: #000" >Internal server Error</h1>
    <h1 style="margin-right: 70%; color: #000;">500</h1>
    <div class="box">
			<span></span><span></span>
			<span></span><span></span>
			<span></span>
		</div>

    <p style="font-size: 30px"> Почему-то все сломалось:(<br> Вернитесь чуток позже. <a href="/" style="color:black">Главная</a></p>

</body>
</html>