{% extends "base.html" %}

{% block content %}
<footer class="footer">
        <div class="container">

            <div class="footer__inner">
                <div class="footer__col  footer__col--first">
                    <div class="footer__logo">Mindease</div>
                    <div class="footer__text">Мой сайт предлагает профессиональную психологическую помощь подросткам, которые сталкиваются с проблемами в жизни. Я предлагаю конфиденциальные онлайн-консультации, а также групповые занятия и семинары, направленные на улучшение самосознания и управления своими эмоциями. Моя задача - помочь вам найти способы справляться с трудностями и достичь лучшего качества жизни.</div>

                    <div class="footer__social">
                        <div class="footer__social-content">
                            Follow me:
                            <br>
                            <br>
                            <a href="https://vk.com/id184296740" target="_blank">
                                <img src="{{ url_for('static',filename='assets/images/social/vk.png') }}" width="50">
                            </a>
                            <a href="https://ru.wikipedia.org/wiki/Instagram" target="_blank">
                                <img src="{{ url_for('static',filename='assets/images/social/insta.png') }}" width="50">
                            </a>
                            <a href="https://ru.wikipedia.org/wiki/Telegram" target="_blank">
                                <img src="{{ url_for('static',filename='assets/images/social/tg.png') }}" width="60">
                            </a>
                        </div>
                    </div>

                </div><!-- /.footer__col -->


                <div class="footer__col  footer__col--third">
                    <div class="footer__title">Вконтакте</div>

                    <div class="instagram">
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/1.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/2.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/3.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/4.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/5.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/6.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/7.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/8.jpg') }}" alt="">
                        </a>
                        <a class="instagram__item" href="#" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/instagram/9.jpg') }}" alt="">
                        </a>
                    </div>
                </div>
                <iframe src="https://vk.com/video_ext.php?oid=184296740&id=456239113&hash=c04373e364f1d77a&hd=4" width="1920" height="1080" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>

            </div><!-- /.footer__inner -->
            <div class="copyright">
                © 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

            </div>

        </div><!-- /.container -->
    </footer>
{% endblock %}