{% extends "base_admin.html" %}

{% block content %}
<br>
<br>

<br>
<br>
<h1 class="subscribe" style="text-align:center;">Загрузить новый файл</h1>
<p class="subscribe" style="text-align:center;">Примечание: имя файла должно быть на английском языке</p>
<hr>
<br>
<form method=post enctype=multipart/form-data>
        <select class="form-control" id="teamDropdownSelector" type="text" name="teamDropdown" style="margin-left: 10%; width: 70%">
            <option disabled selected>Выберите путь сохранения</option>
            <option id="1" value="blog">Блог</option>
            <option id="2" value="event">Ивент</option>
            <option id="3" value="clients_example">Аватарки</option>
       </select>
    <br>
    <br>

      <input type=file name=file style="margin-left: 10%">
      <input type=submit value=Upload style="margin-left: 10%">


    </form>

</form>
{% endblock %}