<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style2.css">
    <link rel="icon" href="../static/assets/images/login/icon.png">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Admin</title>
</head>
<body>

    <header class="header"  id="header">
        <div class="container">
            <div class="header__inner">
                <div>
                <a class="header__logo" href="{{general}}" style="text-decoration: none;">Mindease </a></div>

                <nav class="nav1" id="nav">
                    <a class="nav__link" href="{{blog_Admin}}">Blog Admin</a>
                    <a class="nav__link active" href="{{event_Admin}}">Event Admin</a>
                    <a class="nav__link" href="{{answers_Admin}}">Answers Admin</a>
                    <a class="nav__link" href="{{reviews_Admin}}">Reviews Admin</a>
                    <a class="nav__link" href="{{photo_add_Admin}}">Photo add Admin</a>
                </nav>

                <button class="nav-toggle" id="nav_toggle" type="button">
                    <span class="nav-toggle__item">Menu</span>
                </button>
            </div>
        </div>
        </header>
    <br>
    <br>
    <br>

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>
        <h2 class="subscribe" style="text-align:center;">Давайте добавим новое событие в один из блоков</h2>
        <div class="subscribe" style="text-align:center;"><p>1 - Консультации</p>
        <p>2 - Онлайн мероприятия</p>
        <p>3 - Групповые очные занятия</p>
        <p>4 - Коучинг</p>
        </div>


        <form class="subscribe" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput0" class="form-label">Номер из списка</label>
                    <input type="number" class="form-control" id="exampleFormControlInput0" name="inp0">
                </div>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">photo_name/ Имя фото</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="inp1" placeholder="1.jpg">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">name/Имя</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" name="inp2" placeholder="Example_name">
                </div>
<br>
                <div id="textarea_ask" class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">signature/Описание</label>
                    <textarea class="form-control" id="exampleFormControlInput3" name="inp3"></textarea>
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">link/Ссылка</label>
                    <input type="url" class="form-control" id="exampleFormControlInput4" name="inp4" placeholder="http://127.0.0.1:8080/blog2">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput4" class="form-label">created_date/Дата создания</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" name="inp5" placeholder="12 марта">
                </div>
<br>
                <br>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark" id="1">Фуууух, ну с богом!</button>

                </div>

        </form>
    </div>
</body>
</html>