{% extends "base_admin.html" %}

{% block content %}

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>

            {% if not answers %}
            <h1 class="subscribe" style="text-align:center;">Пока вопросов нет :)</h1>


            {% else %}
            <h1 class="subscribe" style="text-align:center;">На данный момент вопросов осталось: {{remained}}</h1>
            <br>
        <hr>
        <form class="subscribe">
            {% for answer in answers%}

                <div class="mb-3">
                    <p>Вопрос номер: {{answer[0]}}</p>
                    <p class="form-label">От: {{answer[2]}}</p>
                    <p>Email: {{answer[1]}}</p>
                    <p>Вопрос:</p>
                    <textarea cols="130" disabled rows="7">{{answer[3]}}
                    </textarea>
                    <input type="button" onclick="window.location.href='/delete_answer/?id={{answer[0]}}'" value='Отвечено' class="btn btn-dark btn-lg" style="width: 42%">
                </div>
            <br>
            <br>
            <hr>
            {% endfor %}
            </form>
            {% endif %}

    </div>
{% endblock %}
