{% extends "base_admin.html" %}

{% block content %}
    <br>

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>
        <h2 class="subscribe" style="text-align:center;">Давайте добавим новое событие в один из блоков</h2>
        </div>


        <form class="subscribe" method="post">

                <div class="mb-3">
                                        <label for="classSelect">Выберите категорию</label>
                                        <select class="form-control" id="classSelect" name="class">
                                          <option>Копилка возможностей</option>
                                          <option>Тренинги для подростков</option>
                                          <option>Ораторское искусство</option>
                                          <option>Тренинги для родителей</option>
                                          <option>Индивидуальные консультации</option>
                                          <option>Искусство общения</option>
                                        </select>
                                     </div>
            <br>

                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">photo_name/ Имя фото</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="inp1" placeholder="1.jpg">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">name/Имя</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" name="inp2" placeholder="Example_name">
                </div>
<br>
                <div id="textarea_ask" class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">signature/Описание</label>
                    <textarea class="form-control" id="exampleFormControlInput3" name="inp3"></textarea>
                </div>

<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput5" class="form-label">created_date/Дата создания</label>
                    <input type="text" class="form-control" id="exampleFormControlInput5" name="inp5" placeholder="12 марта">
                </div>
<br>
                <br>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark" id="1">Добавить событие</button>

                </div>

        </form>
{% endblock %}