{% extends "base_admin.html" %}

{% block content %}

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>
        <h2 class="subscribe" style="text-align:center;">Давайте добавим новый пост в блог</h2>
        <br>
        <br>
        <form class="subscribe" method="post" novalidate>
        {{ form.hidden_tag() }}

                <div class="mb-3">
                    <label class="form-label" style="color: blue">photo_name/ Имя фото</label>
                    <br>


        <select id="Selector" class="form-control" onchange="preview()">

        <option disabled selected>Выберите фото</option>
            {% for item in items %}
            <option value="{{item}}">{{item}}</option>
            {% endfor %}

        </select>
        <br>
        <img  id="frame" src="" class="img-fluid" style="margin-left: 30%; border: 4px solid #6495ED; border-radius: 10px"/>

           <script>
            function preview() {
                frame.src = "";
                var src = document.getElementById("Selector");
                var value = src.value;
                frame.src = "../static/assets/images/blog/" + value;
            }
        </script>

                </div>
<br>

                <div class="mb-3">
                    <label class="form-label" style="color: blue">name/Имя</label>
                    {{ form.name(type="text", class="form-control", id="exampleFormControlInput2", placeholder="Example_name") }}
                </div>
<br>
                <div id="textarea_ask" class="mb-3" style="color: blue">
                    <label class="form-label">signature/Описание</label>
                    {{ form.signature(type="text", class="form-control", id="exampleFormControlInput3") }}
                </div>
<br>
                <div id="textarea_ask1" class="mb-3" style="color: blue">
                    <label class="form-label">post text/Текст статьи</label>
                    {{ form.text(type="text", class="form-control", id="exampleFormControlInput4") }}
                </div>
<br>
                <br>

                <div class="d-grid gap-2">
                    {{ form.submit(type="submit", class="btn btn-dark") }}
                </div>

        </form>
    </div>

{% endblock %}