{% extends "base_admin.html" %}

{% block content %}
    <br>

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>
        <h2 class="subscribe" style="text-align:center;">Давайте добавим новое событие в один из блоков</h2>
        </div>


        <form class="subscribe" method="post">
        {{ form.hidden_tag() }}
                <div class="mb-3">
                    <label>Выберите категорию</label>
                    {{ form.category(class="form-control", id="classSelect") }}
                </div>
            <br>

                <div class="mb-3">
                    <label class="form-label">photo_name/ Имя фото</label>
                    {{ form.photo_name(type="text", class="form-control", id="exampleFormControlInput1", placeholder="1.jpg") }}
                </div>
<br>
                <div class="mb-3">
                    <label class="form-label">name/Имя</label>
                    {{ form.name(type="text", class="form-control", id="exampleFormControlInput2", placeholder="Example_name") }}
                </div>
<br>
                <div id="textarea_ask" class="mb-3">
                    <label class="form-label">signature/Описание</label>
                    {{ form.signature(type="text", class="form-control", id="exampleFormControlInput3") }}
                </div>

<br>
                <br>

                <div class="d-grid gap-2">
                    {{ form.submit(type="submit", class="btn btn-dark") }}
                </div>

        </form>
{% endblock %}