{% extends "base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <div class="subscribe">
        <h3 class="subscribe" style="text-align:center;">Часто задаваемые вопросы</h3>
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                Можете ли вы загипнотизировать меня, чтобы я забыл домашнее задание по математике?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body collapsed">
                Извините, я не могу загипнотизировать вас, чтобы вы забыли математику. Но я могу помочь вам выработать лучшее отношение к этому.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Нормально ли разговаривать с собой в зеркале?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                Абсолютно! Совершенно нормально разговаривать с собой в зеркале. Просто убедитесь, что вы не спорите сами с собой слишком много.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Можете ли вы загипнотизировать меня, чтобы я стал супергероем?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                Извините, я не могу загипнотизировать вас, чтобы вы стали супергероем. Но я могу помочь вам развить уверенность в себе, чтобы стать героем в своей жизни.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                Можете ли вы помочь мне сделать так, чтобы мои родители давали мне неограниченное пособие?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
              <div class="accordion-body">
                Извините, я не могу контролировать понимание ваших родителей. Но я могу помочь вам общаться с ними более эффективно, что бы они выплачивали вам компенсацию за свое имя или уродство
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                Можно ли есть cвои чувства?
              </button>
            </h2>
            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
              <div class="accordion-body">
                Как бы я ни любила вкусно покушать мороженого, это не самый здоровый способ справиться со своими эмоциями. Давайте найдем более продуктивные механизмы выживания.
              </div>
            </div>
          </div>
        </div>
    </div>
<br>
    <div>
        <h3 class="subscribe" style="text-align:center;">Нет ответа на твой вопрос? Задай его!</h3>
        <form class="subscribe" method="post">
                    {{ form.hidden_tag() }}
                <div id="textarea_ask" class="mb-3">
                    <label class="form-label">Напишите свой вопрос</label>
                    {{ form.text(class="form-control", id="exampleFormControlTextarea3") }}
                </div>
                <br>
                <div class="d-grid gap-2">
                    {{ form.submit(type="submit", class="btn btn-dark") }}
                </div>

        </form>
    </div>
<br>
    <div class="copyright">
        ©<script>document.write(new Date().getFullYear())</script> Исходный код этого  <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">сайта</a>

    </div>
{% endblock %}