<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Answers</title>
</head>
<body>
    <header class="header"  id="header">
    <div class="container">
        <div class="header__inner">
            <div>
            <a class="header__logo" href="{{general}}" style="text-decoration: none;">Mindease </a></div>

            <nav class="nav1" id="nav">
                <a class="nav__link" href="{{authorization}}">LOG IN</a>
                <a class="nav__link" href="{{event1}}">Events</a>
                <a class="nav__link" href="{{blog}}">Blog</a>
                <a class="nav__link active" href="{{answers}}">Answers</a>
                <a class="nav__link" href="{{reviews}}">Reviews</a>
                <a class="nav__link" href="{{about_us}}">About us</a>
            </nav>

            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
    </header>
<br>
    <br>
    <br>
    <br>
    <br>
    <div class="subscribe">
        <h3 class="subscribe" style="text-align:center;">Часто задаваемые вопросы</h3>
        <details>
            <summary>Можете ли вы загипнотизировать меня, чтобы я забыл домашнее задание по математике?</summary>
            <p>Извините, я не могу загипнотизировать вас, чтобы вы забыли математику. Но я могу помочь вам выработать лучшее отношение к этому.</p>
        </details>
        <details>
            <summary>Нормально ли разговаривать с собой в зеркале?</summary>
            <p>Абсолютно! Совершенно нормально разговаривать с собой в зеркале. Просто убедитесь, что вы не спорите сами с собой слишком много.</p>
        </details>
        <details>
            <summary>Можете ли вы загипнотизировать меня, чтобы я стал супергероем?</summary>
            <p>Извините, я не могу загипнотизировать вас, чтобы вы стали супергероем. Но я могу помочь вам развить уверенность в себе, чтобы стать героем в своей жизни.</p>
        </details>
        <details>
            <summary>Можно ли есть cвои чувства?</summary>
            <p>Как бы я ни любила вкусно покушать мороженого, это не самый здоровый способ справиться со своими эмоциями. Давайте найдем более продуктивные механизмы выживания.</p>
        </details>
        <details>
            <summary>Можете ли вы помочь мне сделать так, чтобы мои родители давали мне неограниченное пособие?</summary>
            <p>Извините, я не могу контролировать понимание ваших родителей. Но я могу помочь вам общаться с ними более эффективно, что бы они выплачивали вам компенсацию за свое имя или уродство</p>
        </details>
    </div>
<br>
    <div>
        <h3 class="subscribe" style="text-align:center;">Нет ответа на твой вопрос? Задай его!</h3>
        <form class="subscribe" action="/" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Example_name">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Telephone</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="+7(123)456-78-90">
                </div>
                <div id="textarea_ask" class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Напишите свой вопрос</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <a type="submit" class="btn btn-dark">PUSH</a>
                </div>

        </form>
    </div>
<br>
    <div class="copyright">
        © 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static',filename='assets/js/app.js') }}"></script>

</body>
<br>
</html>