<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/assets/images/login/icon.png">
    <link rel="stylesheet" href="../static/assets/css/style2.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:300i,400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<script>document.getElementById("year").innerHTML = new Date().getFullYear();</script>
<body>
<header class="header{{is_nav}}"  id="header{{is_nav}}">
    <div class="container">
        <div class="header__inner">
            <div>
            <a class="header__logo" href="{{general}}" style="text-decoration: none;">Mindease </a></div>

            <nav class="nav1__nav" id="nav">
                {% if login != True %}
                    <a class="nav__link {{au_is_active}}" href="{{authorization}}">LOG IN</a>
                {% endif %}
                <a class="nav__link {{ev_is_active}}" href="{{events}}">Events</a>
                <a class="nav__link {{bl_is_active}}" href="{{blog}}">Blog</a>
                <a class="nav__link {{an_is_active}}" href="{{answers}}">Answers</a>
                <a class="nav__link {{re_is_active}}" href="{{reviews}}">Reviews</a>
                {% if login == True %}
                <a class="nav__link {{us_is_active}}" href="{{cabinet}}"><img class="nav__img" src="../static/assets/images/user-ico{{is_cabinet}}.svg" width="27px"></a>
                {% endif %}
            </nav>

            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sli-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static',filename='assets/js/app.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/bootstrap_start_page_carousel.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/bootstrap_start_page_accordion.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>