{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>


    <div class="container">
        <script>
    function chpok(id){
    elem = document.getElementById(id); //находим блок div по его id, который передали в функцию
    state = elem.style.display; //смотрим, включен ли сейчас элемент
    if (state =='') elem.style.display='none'; //если включен, то выключаем
    else elem.style.display=''; //иначе - включаем
}
</script>
        <div class="section__header">
            <h3 class="section__suptitle">Наш блог</h3>
            <h2 class="section__title">Последние статьи:</h2>
        </div>

        <div class="section__header" style="margin-top:-2%; weight: 20%;">
            {% if is_admin %}
            <button class="btn btn-dark" style="margin-left: 73%" onclick="chpok('div1')" id="btn1">Удалить пост ▲</button>

            <div style="display: none;" id="div1">
                {{form.ids_to_delete(type="text", style="width: 25%; margin-left:40%", class="form-control", id="del1", placeholder="Введите номера постов которые хотите удалить") }}
                <br>
                {{ form.submit(type="submit", style="margin-left:40%", class="btn btn-dark") }}</div>
            {% endif %}
        </div>


        {% for items in posts %}
        <div class="blog">
            {% for item in items %}
        <div class="blog__item">
                <div class="blog__header">
                    <a href="{{item[4]}}">
                        <img class="blog__photo" src="/static/assets/images/blog/{{item[1]}}" alt="">
                    </a>
                    <div class="blog__date">
                        <div class="blog__date-day">{{item[5]}}</div>
                    </div>
                </div>
                <div class="blog__content">
                    <div class="blog__title">
                        <a href="{{item[4]}}">{{item[2]}}</a>
                    </div>
                    <div class="blog__text">{{item[3]}}</div>
                </div>
            </div>
    {% endfor %}
            </div>

    {% endfor %}

    </div><!-- /.container -->
<br>
{% endblock %}