{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>


    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">{{name}}</h3>
            <h2 class="section__title">{{signature}}</h2>
        </div>

        <div class="blog">
        <div class="blog__item">
                <div class="blog__header">
                        <img class="blog__photo" src="../static/assets/images/blog/{{photo_name}}" alt="">
                    <div class="blog__date">
                        <div class="blog__date-day">Дата создания: {{date}}</div>
                    </div>
                </div>
            </div>
            </div>
        <div class="blog__content">
                    <p>{{text}}</p>
                </div>


    </div><!-- /.container -->
<br>
<footer><div class="copyright">
                ©<script>document.write(new Date().getFullYear())</script> Исходный код этого  <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">сайта</a>

            </div></footer>
<br>
{% endblock %}