{% extends "base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>


    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Our stories</h3>
            <h2 class="section__title">Latest blog</h2>
        </div>
        {% for items in posts %}
        <div class="blog">
            {% for item in items %}
        <div class="blog__item">
                <div class="blog__header">
                    <a href="{{item[4]}}">
                        <img class="blog__photo" src="../static/assets/images/blog/{{item[1]}}" alt="">
                    </a>
                    <div class="blog__date">
                        <div class="blog__date-day">{{item[5].strftime('%d %b %Y')}}</div>
                    </div>
                </div>
                <div class="blog__content">
                    <div class="blog__title">
                        <a href="{{item[4]}}">{{item[2]}}</a>
                    </div>
                    <div class="blog__text">{{item[3]}}</div>
                </div>
            </div>
    {% endfor %}
            </div>

    {% endfor %}

    </div><!-- /.container -->
<br>
<footer><div class="copyright">
                © 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

            </div></footer>
<br>
{% endblock %}