{% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>

    <div>
        <h3 class="subscribe" style="text-align:center;">Ваши данные</h3>
        <form class="subscribe" method="post">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Ваше имя</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="inp_name" placeholder="{{name}}">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput2" class="form-label">Ваша фамилия</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" name="inp_surname" placeholder="{{surname}}">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Ваша почта</label>
                    <input type="email" class="form-control" id="exampleFormControlInput3" name="inp_email" placeholder="{{email}}">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Старый пароль</label>
                    <input type="password" name="pass_old" class="form-control" id="exampleFormControlInput4" placeholder="если хотите поменять пароль напишите актуальный пароль">
                </div>
<br>
                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Новый пароль</label>
                    <input type="password" name="pass_new" class="form-control" id="exampleFormControlInput5" placeholder="а здесь напишите новый пароль">
                </div>
<br>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" {{male}}>
                    <label class="form-check-label" for="inlineRadio1">Male</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female" {{female}}>
                    <label class="form-check-label" for="inlineRadio2">Female</label>
                </div>
<br>
<br>
                <div class="d-grid gap-2">
                    <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  SAVE
                </button>
                </div>

                <!-- Модальное окно -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Вы уверены что хотите изменить данные?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                        Эти данные можно будет изменить еще раз в личном кабинете.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" name="save" class="btn btn-dark" id="1">SAVE</button>
                      </div>
                    </div>
                  </div>
                </div>
    </form>
<br>
    <div class="subscribe">
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          LOG OUT FROM ACCOUNT
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Вы уверены что хотите выйти?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                Доступ к некоторым страницам будет закрыт. Придется заново авторизовываться.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                <a type="submit" name="change" class="btn btn-dark" id="2" href="{{logout}}">LOG OUT</a>
              </div>
            </div>
          </div>
        </div>
    </div>
<br>
    <div class="subscribe">
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          DELETE ACCOUNT
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Вы уверены что хотите удалить аккаунт?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                Вы удалите аккаунт навсегда, его невозможно будет восстановить.
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">NOT DELETE</button>
                <a type="submit" name="save" class="btn btn-danger" href="{{delete}}" id="3">DELETE</a>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}