    {% extends "base.html" %}

{% block content %}
    <br>
    <br>
    <br>

    <div>
        <h3 class="subscribe" style="text-align:center;">Ваши данные</h3>
        <form class="subscribe" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
                <div class="mb-3">
                    <label class="form-label">Ваше имя</label>
                    {{ form.name(type="text", id="exampleFormControlInput1", class="form-control", placeholder=name, autofocus="") }}
                </div>
<br>
                <div class="mb-3">
                    <label class="form-label">Ваша фамилия</label>
                    {{ form.surname(type="text", id="exampleFormControlInput2", class="form-control", placeholder=surname, autofocus="") }}
                </div>
<br>
                <div class="mb-3">
                    <label class="form-label">Ваша почта</label>
                    {{ form.email(type="email", id="exampleFormControlInput3", class="form-control", placeholder=email, autofocus="") }}
                </div>
<br>
                <div class="mb-3">
                    <label class="form-label">Старый пароль</label>
                    {{ form.password_old(type="password", id="exampleFormControlInput4", class="form-control", placeholder="если хотите поменять пароль напишите актуальный пароль") }}
                </div>
<br>
                <div class="mb-3">
                    <label class="form-label">Новый пароль</label>
                    {{ form.password_new(type="password", id="exampleFormControlInput5", class="form-control", placeholder="а здесь напишите новый пароль") }}
                </div>
<br>
                <label class="form-check-label">Gender</label>
                {{ form.gender(type="radio", id="inlineRadio0") }}
<br>
<br>

                <div class="d-grid gap-2">
                    <!-- Кнопка-триггер модального окна -->
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                  SAVE
                </button>
                </div>

                <!-- Модальное окно -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Вы уверены что хотите изменить данные?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                        Эти данные можно будет изменить еще раз в личном кабинете.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                        {{ form.submit(type="submit", class="btn btn-dark") }}
                      </div>
                    </div>
                  </div>
                </div>
    </form>
<br>
    <div class="subscribe">
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
          LOG OUT FROM ACCOUNT
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Вы уверены что хотите выйти?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                Доступ к некоторым страницам будет закрыт. Придется заново авторизоваться.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
                <a type="submit" name="change" class="btn btn-dark" id="2" href="{{logout}}">LOG OUT</a>
              </div>
            </div>
          </div>
        </div>
    </div>
<br>
    <div class="subscribe">
        <!-- Кнопка-триггер модального окна -->
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal3">
          DELETE ACCOUNT
        </button>

        <!-- Модальное окно -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Вы уверены что хотите удалить аккаунт?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
              </div>
              <div class="modal-body">
                Вы удалите аккаунт навсегда, его невозможно будет восстановить.
              </div>
              <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">NOT DELETE</button>
                <a type="submit" name="save" class="btn btn-danger" href="{{delete}}" id="3">DELETE</a>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>>
{% endblock %}
