{% extends "base_login.html" %}

{% block content %}
    <form class="form-signin" method="post" enctype=multipart/form-data>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
      <p class="image_p">
          <img class="mb-4" src="../static/assets/images/login/vector_icon.png" alt="" width="120">
      </p>

      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name">
      <label for="inputName" class="sr-only">Surname</label>
      <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Surname">
      <label for="inputPassword1" class="sr-only">Password</label>
      <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password">
      <label for="inputPassword2" class="sr-only">Password again</label>
      <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Password again">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" checked>
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>

        <br>

      <input type=file name=file>
        <hr>
      <button class="btn btn-lg btn-dark btn-block" type="submit" >Sign up</button>
      <br>
      <br>
      <br>
      <br>
      <p class="mt-5 mb-3 text-muted">© 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a></p>
    </form>
{% endblock %}