{% extends "base_login.html" %}

{% block content %}
    <form class="form-signin" method="post" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
      <p class="image_p">
          <img class="mb-4" src="/static/assets/images/login/vector_icon.png" alt="" width="120">
      </p>

      <h1 class="h3 mb-3 font-weight-normal">Пожалуйста зарегистрируйтесь</h1>
      <label class="sr-only">Электронная почта*</label>
      {{ form.email(type="email", id="inputEmail", class="form-control", placeholder="Электронная почта*", autofocus="") }}
      <label class="sr-only">Имя*</label>
      {{ form.name(type="text", id="inputName", class="form-control", placeholder="Имя*", autofocus="") }}
      <label class="sr-only">Фамилия*</label>
      {{ form.surname(type="text", id="inputSurname", class="form-control", placeholder="Фамилия*", autofocus="") }}
      <label class="sr-only">Пароль*</label>
      {{ form.password1(type="password", id="password1", class="form-control", placeholder="Пароль*") }}
      <label class="sr-only">Повторите пароль*</label>
      {{ form.password2(type="password", id="password2", class="form-control", placeholder="Повторите пароль*") }}
      <label class="form-check-label">Гендер*</label>
      {{ form.gender(type="radio", id="inlineRadio0") }}
      <label class="form-check-label">Дата рождения*</label>
      {{ form.date_birth(type="date", id="date_birth", class="form-control", placeholder="dd-mm-yyyy") }}
      <br>

      <label class="form-check-label">Выберите свое фото</label>
      {{ form.fileName(type="file", id="inputFile") }}
        <hr>
      <p> {{form.checkbox(type="checkbox", id="checkme" )}} Я принимаю условия <a href="/pp/">Пользовательского соглашения</a></p>
      {{form.submit(class="btn btn-lg btn-dark btn-block", id="button", type="submit", disabled="disabled") }}
      <br>
      <p><strong>*</strong> - помечены обязательные пункты</p>
      <br>
      <br>
      <br>
    </form>
<script>
 var checker = document.getElementById('checkme');
 var sendbtn = document.getElementById('button');
 // when unchecked or checked, run the function
 checker.onchange = function(){
if(this.checked){
    sendbtn.disabled = false;
} else {
    sendbtn.disabled = true;
}

}
</script>
<script>
$("input").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
}).trigger("change")
</script>
{% endblock %}