<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <link rel="stylesheet" href="../static/assets/css/style2.css">
    <!-- Bootstrap core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/assets/css/signin.css" rel="stylesheet">
  </head>

  <body>
  <header class="header"  id="header">
    <div class="container">
        <div class="header__inner">
            <div>
            <a class="header__logo" href="{{general}}" style="text-decoration: none;">Mindease </a></div>

            <nav class="nav1" id="nav">
                <a class="nav__link active" style="text-decoration: none;" href="{{authorization}}">LOG IN</a>
                <a class="nav__link" style="text-decoration: none;" href="{{event1}}">Events</a>
                <a class="nav__link" style="text-decoration: none;" href="{{blog}}">Blog</a>
                <a class="nav__link" style="text-decoration: none;" href="{{answers}}">Answers</a>
                <a class="nav__link" style="text-decoration: none;" href="{{reviews}}">Reviews</a>
                <a class="nav__link" style="text-decoration: none;" href="{{about_us}}">About us</a>
                <a class="nav__link" style="text-decoration: none;" href="{{cabinet}}"><img  src="../static/assets/images/user-ico.svg" width="30px"></a>
            </nav>

            <button class="nav-toggle" id="nav_toggle" type="button">
                <span class="nav-toggle__item">Menu</span>
            </button>
        </div>
    </div>
    </header>
    <form class="form-signin" method="post">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
      <p class="image_p">
          <img class="mb-4" src="../static/assets/images/login/bootstrap-solid.svg" alt="" width="72" height="72">
      </p>

      <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" autofocus="">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name">
      <label for="inputName" class="sr-only">Surname</label>
      <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Surname">
      <label for="inputPassword1" class="sr-only">Password</label>
      <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password">
      <label for="inputPassword2" class="sr-only">Password again</label>
      <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Password again">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="male" checked>
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="female">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
      <button class="btn btn-lg btn-dark btn-block" type="submit" >Sign up</button>
      <br>
      <br>
      <br>
      <br>
      <p class="mt-5 mb-3 text-muted">© 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a></p>
    </form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{ url_for('static',filename='assets/js/app.js') }}"></script>

</body>
</html>