{% extends "base_admin.html" %}

{% block content %}

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>

            {% if not review %}
            <h1 class="subscribe" style="text-align:center;">Пока нет отзывов на модерацию:)</h1>


            {% else %}
            <h1 class="subscribe" style="text-align:center;">На данный момент отзывов осталось: {{remained}}</h1>
            <br>


        <hr>
        {% for rev in review %}
        <form class="subscribe">
                <div>
                    <p>Отзыв номер "{{rev[0]}}"</p>
                    <p class="form-label">От: {{rev[1]}}</p>
                    <p class="form-label">Его id пользователя: {{rev[5]}}</p>
                    <p>Оценка: {{rev[2]}}</p>
                    <p>Дата добавления: {{rev[4]}}</p>
                     <p>Комментарий:</p>
                    <textarea cols="100" disabled rows="8">{{rev[3]}}
                    </textarea>
                    <br>
                    <img src= "../{{directory}}/{{rev[6]}}" width="200" height="200" style=" border: 5px solid black; border-radius: 10px; margin-left: 80%; margin-top: -24%">

                    <br>
                    <input type="button" onclick="window.location.href='/add_feedback/?id={{rev[0]}}'" value='Добавить' class="btn btn-success btn-lg" style="width: 42%">
                    <input type="button" onclick="window.location.href='/delete_feedback/?id={{rev[0]}}'" value='Удалить' class="btn btn-danger btn-lg" style="width: 42%; margin-left: 15%">



                </div>
            <br>
            <br>
            <hr style="
	    border-top: 5px solid black;
	    border-bottom: 2px solid black;">
            </form>
        {% endfor %}
            {% endif %}

    </div>
{% endblock %}