{% extends "base_admin.html" %}

{% block content %}

    <div>
        <h3 class="subscribe" style="text-align:center;">Здравствуйте уважаемый Admin</h3>

            {% if not review %}
            <h1 class="subscribe" style="text-align:center;">Пока нет отзывов на модерацию:)</h1>


            {% else %}
            <h1 class="subscribe" style="text-align:center;">На данный момент отзывов осталось: {{remained}}</h1>
            <br>

            <form class="subscribe" method="post">

            <label for="inp1" class="form-label">Укажите номера отзывов, которые надо удалить, через пробел без запятых</label>
            <input type="text" class="form-control" name="inp1" id="inp1">
            <br>
            <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">Подтвердить удаление</button>

                </div>

        <hr>

            <label for="inp2" class="form-label">Укажите номера отзывов, которые можно оставить, через пробел без запятых</label>
            <input type="text" class="form-control" name="inp2" id="inp2">
            <br>
            <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">Подтвердить добавление</button>

                </div>
            </form>
        <hr>
        <form class="subscribe">
            {% for rev in review %}

                <div class="mb-3">
                    <p>Отзыв номер "{{rev[0]}}"</p>
                    <p class="form-label">От: {{rev[1]}}</p>
                    <p class="form-label">Его id: {{rev[5]}}</p>
                    <p>Оценка: {{rev[2]}}</p>
                    <p>Комментарий:</p>
                    <p>Дата добавления: {{rev[4]}}</p>
                    <textarea cols="130" disabled rows="7">{{rev[3]}}
                    </textarea>
                    <img src= "../{{directory}}/{{rev[6]}}" width="200" height="200">
                </div>
            <br>
            <br>
            <hr>
            {% endfor %}
            </form>
            {% endif %}

    </div>
{% endblock %}