{% extends "base.html" %}

{% block content %}
<br>
<br>
<section class="section  section--clients">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Наши клиенты</h3>
            <h2 class="section__title">Что они говорят</h2>
        </div>

        <div class="clients">
            {% for rev in reviews_ %}
            <div class="clients__item">
                <img class="clients__photo" src="../static/assets/images/{{rev[4]}}" alt="">
                <div class="clients__content">
                    <div class="clients__name">{{rev[0]}}</div>
                    <div class="clients__prof">{{rev[1]}}</div>
                    <div class="clients__text">{{rev[2]}}</div>
                    <div class="clients__prof">Дата: {{rev[3]}}</div>
                </div>
            </div>
            {% endfor %}


        </div><!-- /.clients -->

    </div><!-- /.container -->
</section>
<hr>
<br>
<div>
    <div class="section__header">
        <h3 class="section__suptitle">Нам важно твое мнение!</h3>
    </div>
    <div>
        <h3 class="subscribe" style="text-align:center;">Заполни анкету</h3>
        <form class="subscribe" method="post">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
                <div class="mb-3">
                    <label class="form-label">Оценка</label>
                    {{ form.prof(type="text", class="form-control", placeholder="5/5", id="exampleFormControlInput2") }}
                </div>
                <div id="textarea_ask" class="mb-3">
                    <label class="form-label">Напишите свой отзыв</label>
                    {{ form.text(class="form-control", id="exampleFormControlTextarea1") }}
                </div>
                <br>
                <div class="d-grid gap-2">
                    {{ form.submit(type="submit", class="btn btn-dark") }}
                </div>
                <br>
        </form>
        <script>
            let cords = ['scrollX','scrollY'];
            window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
            window.addEventListener('load', e => {
                if (localStorage[cords[0]]) {
                    window.scroll(...cords.map(cord => localStorage[cord]));
                    cords.forEach(cord => localStorage.removeItem(cord));
                }
            });
        </script>
    </div>
</div>

<br>
<div class="copyright">
    ©<script>document.write(new Date().getFullYear())</script> The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

</div>
{% endblock %}