<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/assets/css/style4.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700&amp;subset=cyrillic-ext" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Reviews</title>
</head>
<body>
<header class="header">
        <div class="container">
            <div class="header__inner">
                <div>
                <a class="header__logo" href="{{general}}" style="text-decoration: none;">Mindease </a></div>

                <nav class="nav">
                    <a class="nav__link" href="{{authorization}}">LOG IN</a>
                    <a class="nav__link" href="{{event1}}">Events</a>
                    <a class="nav__link" href="{{blog}}">Blog</a>
                    <a class="nav__link" href="{{answers}}">Answers</a>
                    <a class="nav__link active" href="{{reviews}}">Reviews</a>
                    <a class="nav__link" href="{{about_us}}">About us</a>
                </nav>
            </div>
        </div>
    </header>
<br>
<br>
<section class="section  section--clients">
    <div class="container">

        <div class="section__header">
            <h3 class="section__suptitle">Happy Clients</h3>
            <h2 class="section__title">What people say</h2>
        </div>

        <div class="clients">
            <div class="clients__item">
                <img class="clients__photo" src="http://placehold.it/110" alt="">
                <div class="clients__content">
                    <div class="clients__name">Matthew Dix</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="http://placehold.it/110" alt="">
                <div class="clients__content">
                    <div class="clients__name">Nick Karvounis</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="http://placehold.it/110" alt="">
                <div class="clients__content">
                    <div class="clients__name">Jaelynn Castillo </div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                </div>
            </div>

            <div class="clients__item">
                <img class="clients__photo" src="http://placehold.it/110" alt="">
                <div class="clients__content">
                    <div class="clients__name">Mike Petrucci</div>
                    <div class="clients__prof">Graphic Design</div>
                    <div class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                </div>
            </div>
        </div><!-- /.clients -->

    </div><!-- /.container -->
</section>
<hr>
<br>
<div class="container">
    <div class="section__header">
                <h3 class="section__suptitle">Нам важно твое мнение!</h3>
            </div>
    <div>
        <h3 class="subscribe" style="text-align:center;">Заполни анкету</h3>
        <form class="subscribe" action="/" method="post">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Имя</label>
                    <input type="text" class="form-control" placeholder="Ваше имя" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Оценка</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" placeholder="5/5">
                </div>
                <div id="textarea_ask" class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Напишите свой отзыв</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <br>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark">PUSH</button>
                </div>
                <br>
        </form>
    </div>
</div>

<br>
    <div class="copyright">
        © 2023 The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

    </div>
</body>
<br>
</html>