{% extends "base.html" %}

{% block content %}
<br>
<br>

<div class="koguvcavis-varazdel">
    <div class="sestim-donials">
        <div class="section__header">
            <h3 class="section__suptitle">Наши клиенты</h3>
            <h2 class="section__title">Что они говорят</h2>
        </div>
        <div class="sagestim-lonials">
            {% for rev in reviews_ %}
            <div class="vemotau-vokusipol">
                <div class="testimonial">
                    <img src="../static/assets/images/{{rev[4]}}" alt="client_photo">
                    <div class="gecedanam">{{rev[0]}}</div>
                    <p>Дата: {{rev[3]}}</p>
                    <div class="apogered-gselected">
                    {% for k in range(rev[1]) %}
                        <i class="fas fa-star"></i>
                    {% endfor %}
                    {% for k in range(5 - rev[1]) %}
                        <i class="far fa-star"></i>
                    {% endfor %}
                    </div>
                    <p>{{rev[2]}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<hr>
<br>
<div>
    <div class="section__header">
        <h3 class="section__suptitle">Нам важно твое мнение!</h3>
    </div>
    <div>
        <h3 class="subscribe" style="text-align:center;">Заполни анкету</h3>
        <form class="subscribe" method="post">
            {{ form.hidden_tag() }}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
            {% endwith %}
                <div class="mb-3">
                    <label class="form-label">Оценка</label>
                    {{ form.prof(type="range", class="reviews-range", min="1", max="5", value="5", id="formControlRange", onInput="$('#rangeval').html($(this).val())") }}
                    <span id="rangeval">5</span>
                </div>
                <div id="textarea_ask" class="mb-3">
                    <label class="form-label">Напишите свой отзыв</label>
                    {{ form.text(class="form-control", id="exampleFormControlTextarea1") }}
                </div>
                <br>
                <div class="d-grid gap-2">
                    {{ form.submit(type="submit", class="btn btn-dark") }}
                </div>
                <br>
        </form>
        <script>
            let cords = ['scrollX','scrollY'];
            window.addEventListener('unload', e => cords.forEach(cord => localStorage[cord] = window[cord]));
            window.addEventListener('load', e => {
                if (localStorage[cords[0]]) {
                    window.scroll(...cords.map(cord => localStorage[cord]));
                    cords.forEach(cord => localStorage.removeItem(cord));
                }
            });
        </script>
    </div>
</div>

<br>
<div class="copyright">
    ©<script>document.write(new Date().getFullYear())</script> Исходный код этого  <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">сайта</a>

</div>
{% endblock %}