{% extends "base.html" %}

{% block content %}
<div class="intro">
    <div class="container">

        <div class="intro__inner">

            <h2 class="intro__suptitle">Change your life</h2>
            <h1 class="intro__title" style="font-size: 40px">Welcome to Mindease</h1>

            <div class="d-grid gap-2">
                <a type="button" class="btn btn-light btn-lg" href="#section1">Learn More</a>
            </div>

            <div class="d-flex justify-content-center mt-5 h-100">
        <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
            <img src="https://i.imgur.com/Tl8ZBUe.png" alt="" width="30px"><span class="mt-2">We use third party cookies to personalize content, ads and analyze site traffic.</span><a class="d-flex align-items-center" href="#">Learn more<i class="fa fa-angle-right ml-2"></i></a>

            <button class="btn btn-dark mt-3 px-4" type="button">Okay</button>
        </div>
    </div>
        <div class="d-flex justify-content-center mt-5">
    </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__col  footer__col--first">
                <div class="footer__logo">Mindease</div>
                <div class="footer__text">Наш сайт предлагает профессиональную психологическую помощь подросткам, которые сталкиваются с проблемами в жизни. Мы предлагаем конфиденциальные онлайн-консультации, а также групповые занятия и семинары, направленные на улучшение самосознания и управления своими эмоциями. Наша задача - помочь вам найти способы справляться с трудностями и достичь лучшего качества жизни.</div>

                <div class="footer__social">
                    <div class="footer__social-content">
                        Follow me:
                        <br>
                        <br>
                        <a href="https://vk.com/id184296740" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/social/vk.png') }}" width="40">
                        </a>
                        <a href="https://ru.wikipedia.org/wiki/Instagram" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/social/insta.png') }}" width="40">
                        </a>
                        <a href="https://ru.wikipedia.org/wiki/Telegram" target="_blank">
                            <img src="{{ url_for('static',filename='assets/images/social/tg.png') }}" width="40">
                        </a>
                    </div>
                </div>
            </div>
            <iframe src="https://vk.com/video_ext.php?oid=184296740&id=456239113&hash=c04373e364f1d77a&hd=4" width="649" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;" frameborder="0" allowfullscreen></iframe>

        </div><!-- /.footer__inner -->
        <section class="section">
            <div class="container">

                <div class="section__header">
                    <h3 class="section__suptitle">Service</h3>
                    <h2 class="section__title">what we do</h2>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group"><img src="../static/assets/images/victory.png" alt="victory" width="500px"></div>
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="
    margin-left: 20px;
">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="width: 600px;">
                                                Услуги для подростков
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <p><b>Тренинги:</b> проведение образовательных семинаров и программ обучения, адаптированных к конкретным потребностям и проблемам, с которыми сталкиваются подростки, охватывающие такие темы, как управление стрессом, повышение самооценки и стратегии преодоления трудностей.</p>
                                            <p><b>Выступления:</b>  предоставление подросткам возможностей развивать навыки публичных выступлений посредством семинаров, коучинга и участия в публичных выступлениях, что позволяет им выражать свои мысли уверенно и эффективно.</p>
                                            <p><b>Копилка возможностей:</b> создание базы данных различных возможностей (например, стипендий, стажировок, волонтерских должностей), специально предназначенных для подростков, помогающих им исследовать и получать значимый опыт для личного и профессионального роста.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingTwo">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Услуги для взрослых
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                        <div class="panel-body">
                                            <p><b>Обучение родителей:</b> Проведение тренингов и семинаров для родителей, вооружая их знаниями и навыками, позволяющими лучше понимать и поддерживать эмоциональные и психологические потребности своих детей-подростков.</p>
                                            <p><b>Индивидуальные консультации:</b> проведение индивидуальных консультаций для взрослых для решения их личных проблем, стресса, проблем в отношениях и других проблем психического здоровья с упором на улучшение общего благополучия.</p>
                                            <p><b>Искусство общения:</b> проведение семинаров и коучинговых занятий для улучшения коммуникативных навыков взрослых, уделяя особое внимание эффективному слушанию, методам разрешения конфликтов и обучению уверенности в себе.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <link href="../static/assets/css/bootstrap_start_page.css" rel="stylesheet" id="bootstrap-css">
        <script src="../static/assets/js/bootstrap_start_page.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <div class="container" style="background-color: #ebebeb;">
          <div class="row">
            <div class='col-md-offset-2 col-md-8 text-center'>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-offset-2 col-md-8'>
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quote-carousel" data-slide-to="1"></li>
                  <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">

                  <!-- Quote 1 -->
                  <div class="item active">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="../static/assets/images/quotes/Freud.jpg" style="width: 100px;height:100px;">
                          <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                        </div>
                        <div class="col-sm-9">
                          <p>Тайна человеческой души — заключена в психических драмах детства. Докопайтесь до этих драм, и исцеление придет.</p>
                          <small>Зигмунд Фрейд</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 2 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="../static/assets/images/quotes/Dale.jpg" style="width: 100px;height:100px;">
                        </div>
                        <div class="col-sm-9">
                          <p>Если захочется переделывать людей — начни с себя — это и полезней, и безопасней.</p>
                          <small>Дейл Карнеги</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 3 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                          <img class="img-circle" src="../static/assets/images/quotes/Joseph.jpg" style="width: 100px;height:100px;">
                        </div>
                        <div class="col-sm-9">
                          <p>Психолог — это человек, который говорит то, что известно каждому, на языке, которого не понимает никто.</p>
                          <small>Джозеф Джастроу</small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>

                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section  section--map">
            <div class="container">
                <div class="map">
                    <h2 class="map__title">
                        <div><i class="fas fa-map-marker-alt"></i></div>
                        <a href="https://yandex.ru/maps/?rtext=~56.094334,54.233594">Open Map</a>
                    </h2>
                </div>
            </div>
        </section>
        <div class="copyright" id="section1">
            ©<script>document.write(new Date().getFullYear())</script> The source code of this <a href="https://github.com/AmirHusnutdinov/Peak-of-Reason">site</a>

        </div>

    </div><!-- /.container -->
</footer>
{% endblock %}
