{% extends "base.html" %}

{% block content %}
<div class="intro">
    <div class="container">

        <div class="intro__inner">

            <h2 class="intro__suptitle">Change your life</h2>
            <h1 class="intro__title" style="font-size: 40px">Welcome to Mindease</h1>

            <div class="d-grid gap-2">
                <a type="button" class="btn btn-light btn-lg" href="{{event1}}">Learn More</a>
            </div>

            <div class="d-flex justify-content-center mt-5 h-100">
        <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
            <img src="https://i.imgur.com/Tl8ZBUe.png" alt=""><span class="mt-2">We use third party cookies to personalize content, ads and analyze site traffic.</span><a class="d-flex align-items-center" href="#">Learn more<i class="fa fa-angle-right ml-2"></i></a>

            <button class="btn btn-dark mt-3 px-4" type="button">Okay</button>
        </div>
    </div>
        <div class="d-flex justify-content-center mt-5">
    </div>
        </div>
    </div>
</div>
{% endblock %}
