{% extends "base/base_login.html" %}

{% block content %}
    <form class="form-signin" method="post" enctype=multipart/form-data>
    {{ form.hidden_tag() }}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
          {% endfor %}
        {% endif %}
    {% endwith %}
      <p class="image_p">
          <img class="mb-4" src="/static/assets/images/login/vector_icon.png" alt="" width="120">
      </p>

      <h1 class="h3 mb-3 font-weight-normal">На указанную почту был отправлен пятизначный код подтверждения</h1>
      <label class="sr-only">Введите код подтверждения</label>
      {{ form.email(type="text", class="form-control", placeholder="Код подтверждения", autofocus="") }}
      <br>
        <a class="btn btn-primary" href="/email_confirm" role="button">Получить код снова</a>
      <br>
      {{form.submit(class="btn btn-lg btn-dark btn", id="button", type="submit") }}
    </form>
{% endblock %}